@{
    ViewData["Title"] = "Persons API";
}
<html>
<head>
    <title>Title</title>
    <link href="~/fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 id="judul" style="font-family: HACKED; text-align:start;">Persons api</h3>
            </div>
            <div class="col">
                <button class="btn btn-primary" style="float:right" data-bs-toggle="modal" data-bs-target="#registerModal">Register <i class="fas fa-plus ml-2"></i></button>
            </div>
        </div>

        <div class="card shadow p-3 mt-3 p-lg-3">
            <table id="table_id" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>NIK</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            @*<table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">NIK</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="swapi">
                </tbody>
            </table>*@
        </div>

        <!-- Modal 1-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="modal-content" class="modal-body">
                        <div class="row">
                            <div class="col-4 pl-5 font-weight-bold">
                                <div>NIK</div>
                                <div>Name</div>
                                <div>Gender</div>
                                <div>Email</div>
                                <div>Phone</div>
                                <div>BirthDate</div>
                                <div>Salary</div>

                                <div>University</div>
                                <div>Degree</div>
                                <div>GPA</div>

                                <div>Roles</div>
                            </div>
                            <div class="col-1">
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                            </div>
                            <div class="col-7">
                                <div id="modal-data"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Register-->
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="modal-content" class="modal-body">
                        <form class="needs-validation" novalidate>
                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom01">First name</label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="First name" value="Mark" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustom02">Last name</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="validationCustomUsername">Username</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend"></span>
                                        </div>
                                        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom03">City</label>
                                    <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid city.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom04">State</label>
                                    <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid state.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="validationCustom05">Zip</label>
                                    <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid zip.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">
                                        Agree to terms and conditions
                                    </label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Submit form</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

    $(document).ready(function () {

        var mt = $('#table_id').DataTable({
            "columnDefs": [{
                "targets": 0,
                "searchable": false,
                "orderable": false
            }],
            "order": [[1, 'asc']],
            "filter": true,
            "ajax": {
                "url": "https://localhost:44300/api/persons/getperson",
                "datatype": "json",
                "dataSrc": "result"
            },
            "columns": [
                { "data": null },
                { "data": "nik" },
                { "data": "fullName" },
                { "data": "email" },
                {
                    "data": "gender",
                    "render": function (data, type, row) {
                        if (data == "Male") {
                            return data + ' <i class="fas fa-mars"></i>';
                        } else {
                            return data + ' <i class="fas fa-venus"></i>';
                        }
                    }
                },
                {
                    "data": "phone",
                    "render": function (data, type, row) {

                        return '(+62)' + data.slice(1, 99);
                    },
                    "autoWidth": true
                },
                {
                    "data": "nik",
                    "render": function (data, type, row) {

                        return '<button class="btn btn-primary" onclick="show(' + data + ')" data-bs-toggle="modal" data-bs-target="#exampleModal"> Details </button>';
                    },
                    "autoWidth": true
                }
            ]
        });

        mt.on('order.dt search.dt', function () {
            mt.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

    });

    //show all data into table

    //$.ajax({
    //    url: "https://localhost:44300/api/persons/"
    //}).done((result) => {
    //    var text = "";

    //    console.log(result);
    //    $.each(result.data, function (key, val) {
    //        text += `<tr>
    //            <td>${key + 1}</td>
    //            <td>${val.nik}</td>
    //            <td>${val.firstName + " " + val.lastName}</td>
    //            <td>${val.email}</td>
    //            <td>${val.gender}</td>
    //            <td>${val.phone}</td>
    //            <td>
    //                <button type="button" onclick="show('https://localhost:44300/api/persons/${val.nik}')" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    //                  Details
    //                </button>
    //            </td>
    //        </tr>`
    //    });
    //    $("#swapi").html(text);
    //}).fail((result) => {
    //    console.log(result);
    //});

    $.ajax({
        url: "https://localhost:44300/api/persons/getperson"
    }).done((result) => {
        console.log(result);
    }).fail((result) => {
        console.log(result);
    });

    //show char infobirt
    function show(nik) {
        $.ajax({
            url: "https://localhost:44300/api/persons/" + nik
        }).done((result) => {

            var roles = "";
            console.log(result);

            for (let i = 0; i < result.data.account.accountRoles.length; i++) {
                roles += `<li>${result.data.account.accountRoles[i].role.name}</li>`;
            }

            var genderIcon = "";
            if (result.data.gender == "Male") {
                genderIcon = ' <i class="fas fa-mars"></i>';
            } else {
                genderIcon = ' <i class="fas fa-venus"></i>';
            }

            var text = "";
            text += `
            <div>${result.data.nik}</div>
            <div>${result.data.firstName + " " + result.data.lastName}</div>
            <div>${result.data.gender} ${genderIcon}</div>
            <div>${result.data.email}</div>
            <div>(+62)${result.data.phone.slice(1, 99)}</div>
            <div>${moment(result.data.birthDate).format("dddd, MMMM Do YYYY")}</div>
            <div>Rp. ${result.data.salary.toLocaleString('it-IT')}</div>
            <div>${result.data.account.profiling.educations.universities.name}</div>
            <div>${result.data.account.profiling.educations.degree}</div>
            <div>${result.data.account.profiling.educations.gpa}</div>
            <div><ul>${roles}</ul></div>
        `
            $("#modal-data").html(text);
            $("#exampleModalLabel").html(result.data.firstName + " " + result.data.lastName + "'s Profile");
        }).fail((result) => {
            console.log(result);
        });
    }

</script>