#judul{
    text-align:center;
}

.text-card {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
}
.text-card:hover {
    background-color: cadetblue;
    position: relative;
    color: aliceblue;
    transition: 1s opacity 0.5s ease-in-out 0s;
}

.custom-card {
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
}

.custom-card:hover {
    background-color: whitesmoke;
    box-shadow: 11px 10px 12px -3px rgba(108,108,108,0.62);
    -webkit-box-shadow: 11px 10px 12px -3px rgba(108,108,108,0.62);
    -moz-box-shadow: 11px 10px 12px -3px rgba(108,108,108,0.62);
    transition: 0.5s;
}

.content{
    display:none;
    margin-bottom:15px;
}

p{
    font-family:Neuropolitical
}

.p1:hover ~ #p1content {
    display: block;
    transition: 1s;
}
.p2:hover ~ #p2content {
    display: block;
    transition: 1s;
}
.p3:hover ~ #p3content {
    display: block;
    transition: 1s;
}

li /*{
    font-family: '8BIT WONDER Nominal';
    text-size-adjust: 200%;
    font-weight: 100;
    transition: background-position 275ms ease;
}*/
li:hover {
    color:darkgrey;
    text-size-adjust: 300%;
    font-weight: 900;
    transition: background-position 275ms ease;
}

.content-card {
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;
}

.content-card img{
    max-width:auto;
}



#card1, #card2, #card3 {
    display: none;
}

section#b ul li#item1:hover ~ section#card1 {
    display: block;
    transition: 1s;
}
section ul li#item2:hover ~ section#card2 {
    display: block;
    transition: 1s;
}
section ul li#item3:hover ~ section#card3 {
    display: block;
    transition: 1s;
}